
body, html{
    height: 100%;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(194, 186, 186);

}
.a1{
    background-image: url("pic1.jpg");
    min-height: 100%;
}
.b1{
    background-image: url("pic2.jpg");
    min-height: 100%;
}
.c1{
    background-image: url("pic3.jpg");
    min-height: 100%;
}
.d1{
    background-image: url("pic4.jpg");
    min-height: 100%;
}
.e1{
    background-image: url("pic5.jpg");
    min-height: 100%;
}

.a1, .b1, .c1, .d1, .e1{
    opacity: 0.8;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: #dddd;
    color:#000000;
}
.section-dark{
    background-color: #282e34 ;
    color: rgba(226, 223, 223, 0.911);
}
.a2{
    position: absolute;  
    top: 50%;
    width: 100%;
    text-align: center;
    color: #0000;
    font-size: 27px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.a2 .a3{
    background-color: rgb(60, 63, 61);
    color: #ffff;
    padding: 18px;
 
}
.a2 .a3 .trans{
    background-color: transparent;
}
@media(max-width: 400px){
    .a1, .b1, .c1, .d1, .e1{
        background-attachment: scroll;
    }
}